@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
}

@layer components {
  html {
    scroll-behavior: smooth;
    body {
      #root {
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
      }
      .item {
        width: 100%;
        overflow: visible;

        &.logo {
          width: 8rem;
        }
        // stroke: #0000006e;
        // strokewidth: 1;
        // strokelinejoin: round;
        // strokelinecap: round;
        @apply dark:stroke-[#ffffff4b] light:stroke-[#0000006e];
      }

      section {
        header {
          .title {
            @apply text-5xl phoneMax:text-[2rem];
          }
        }
      }

      .icon-skill {
        @apply w-full max-w-6;
      }
    }
  }
}
